@model OnlineBookShop.Models.User
@{
    ViewData["Title"] = "My Profile";
}

<h1 class="h4 mb-3">My Profile</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Address</dt>
            <dd class="col-sm-9">@Model.Address</dd>

            <dt class="col-sm-3">Phone</dt>
            <dd class="col-sm-9">@Model.Phone</dd>

            <dt class="col-sm-3">Role</dt>
            <dd class="col-sm-9">@Model.Role</dd>
        </dl>
    </div>
</div>

